[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
requests = "*"
lxml = "*"

[dev-packages]
pylint = "*"
pylint-django = "*"

[requires]
python_version = "3.7"
