[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
requests = "*"
lxml = "*"
sentry-sdk = "==0.7.2"
fabric = "*"
celery = "*"
django-celery-beat = "*"
psycopg2 = "*"
redis = "*"
tornado = "<6.0.0"
pyyaml = "==5.1"
psycopg2-binary = "*"
gunicorn = "*"

[dev-packages]
pylint = "*"
pylint-django = "*"
flower = "*"
coverage = "*"

[requires]
python_version = "3.7"
