

#sidebar li {
    list-style: none;
}

.link-delete-button, .link-save-button {
    color: #cbcbcb;
    cursor: pointer;
}

.link-delete-button:hover {
    color: #f5495a;
}

.link-save-button:hover {
    color: #23e16f;
}

.bookmark-read {
    color: #23e16f;
}

.brand, .brand:hover {
    color: inherit;
    text-decoration: none;
}

.card2 {
    border: 1px solid #d3dbe9;
    border-radius: 10px;
    box-shadow: 0 6px 9px 0 #e1e9f8;
}

footer {
    margin: 4em 0 4em 0;
}

.hidden {
    display: none;
}

.page-load-status button, .page-load-status p {
    font-weight: 600;
}

.tag {
    background: #e8ecef;
    color: #4d5c6c;
}

.bookmarks .tag {
    font-size: 0.7em;
}

.fa-plus-circle {
    color: #4d5c6c;
}

.container-tag {
    margin: 10px 0 0 0;
    font-size: 14px;
    font-weight: 600;
}
.tag-container {
    border-bottom: 2px solid #ccc;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 2px 0 2px 0;
}
.tag-container .tag {
    height: 30px;
    margin: 5px;
    padding: 5px 6px;
    border-radius: 6px;
    background: #0052cc;
    display: flex;
    align-items: center;
    color: #fff;
}
.tag i {
    margin-left: 8px;
    cursor: pointer;
    color: #fff;
}

.tag span {
    margin-bottom: 3px;
}
.tag-container input {
    border: 0;
    outline: none;
    flex: 1;
}

.view-bookmark {
    color: #cbcbcb;
    font-family: 'Courier New', Courier, monospace;
    display: block;
    margin-top: 1em;
}

.view-bookmark a {
    text-decoration: none;
    color: #cbcbcb;
}

.view-bookmark a:hover {
    color: #007bff;
}

#bookmark_image img {
    max-height: 400px;
    width: 100%;
    margin-bottom: 1em;
}

.bookmark-image-detail img {
    max-width: 100%;
    height: 256px;
}

.row .tags .tag:hover {
    background: #2a2c2d;
    color: #FFFFFF;
    cursor: pointer;
}

.tag-active {
    background: #3807ff;
    color: white;
}

.bookmarks h6 a {
    color: #4e4e4e;
}