<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Activate your account at Bookie!</title>
    </head>
    <body>
        <h2>Hi there!</h2>
        <p>Please click the link below order to activate your account at Bookie! Otherwise you can't login :(</p>
        <a href="https://bookie.dubell.io/activate/{{code}}">https://bookie.dubell.io/activate/{{code}}</a>
    </body>
</html>