{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col">
        <div class="card2 p-3 mb-5 bg-white rounded" id="sidebar">
            <div class="row">
                <div class="col">
                    <h5>Filter</h5>
                    <ul>
                        <li><a href="?filter=unread"><i class="fas fa-angle-right"></i> Unread</a></li>
                        <li><a href="?filter=read"><i class="fas fa-angle-right"></i> Read</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h5>Save a link!</h5>
                    <div class="input-group mb-3">
                        <input type="text" name="add_bookmark_input" class="form-control" placeholder="Enter a URL or some text" aria-label="URL" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-dark" type="button" id="save_link" onclick="addBookmark()">Save</button>
                        </div>
                    </div>
                    <div id="add_bookmark_result" class="hidden">
                        <div class="alert alert-success" role="alert">
                            <p>Bookmark added!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card-columns">
            {% for bookmark in bookmarks %}
                <div class="card mb-3 postcard" id="{{bookmark.bm_id}}">
                    <div class="card-body">
                        {% if bookmark.image %}
                        <div class="row">
                            <div class="col">
                                <img src="{{bookmark.image}}" style="max-width: 100%; margin-bottom: 15px" />
                            </div>
                        </div>
                        {% endif %}

                        <div class="float-right">
                            <form>
                                {% csrf_token %}
                                <span class="link-delete-button" title="Delete bookmark" onclick="delete_bookmark('{{bookmark.bm_id}}')"><i class="fas fa-times"></i></span>
                                {% if bookmark.read %}
                                    <span class="link-save-button {% if bookmark.read %} bookmark-read {% endif %}"
                                        title="Bookmark read" onclick="save_bookmark('{{bookmark.bm_id}}')"><i class="fas fa-bookmark"></i></span>
                                {% else %}
                                    <span class="link-save-button {% if bookmark.read %} bookmark-read {% endif %}" 
                                        title=" Mark as read" onclick="save_bookmark('{{bookmark.bm_id}}')"><i class="fas fa-bookmark"></i></span>
                                {% endif %}
                                
                            </form>
                        </div>

                        {% if bookmark.title %}
                            <h4 class="card-title"><a href="{{ bookmark.link }}" target="_blank">{{bookmark.title}}</a></h4>
                        {% endif %}
                        {% if bookmark.description %}
                            <p class="card-text">{{bookmark.description}}</p>
                            <p class="card-text"><small class="text-muted">{{bookmark.link}}</small></p>
                        {% else %}
                            {% if bookmark.is_url %}
                                <a href="{{bookmark.link}}"><p class="card-text">{{bookmark.link}}</p></a>
                            {% else %}
                                <p class="card-text">{{bookmark.link}}</p>
                            {% endif %}
                        {% endif %}
                        
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>


{% if not bookmarks %}
<div class="row">
    <div class="col-md-6 offset-md-3">
            <center><h3>Hmm, you have no bookmarks saved ☹️</h3></center>
    </div>
</div>
{% else %}

<div class="row">
    <div class="col">
        <div class="pagination">
            <span class="step-links">
                {% if bookmarks.has_previous %}
                    <a href="?page=1{% if 'filter' in request.GET %}&filter={{ request.GET.filter }}{% endif %}">&laquo; first</a>
                    <a href="?page={{ bookmarks.previous_page_number }}{% if 'filter' in request.GET %}&filter={{ request.GET.filter }}{% endif %}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ bookmarks.number }} of {{ bookmarks.paginator.num_pages }}.
                </span>
        
                {% if bookmarks.has_next %}
                    <a class="pagination__next" href="?page={{ bookmarks.next_page_number }}{% if 'filter' in request.GET %}&filter={{ request.GET.filter }}{% endif %}">next</a>
                    <a href="?page={{ bookmarks.paginator.num_pages }}{% if 'filter' in request.GET %}&filter={{ request.GET.filter }}{% endif %}">last &raquo;</a>
                {% endif %}
            </span>
        </div>      
    </div>
</div>

<div class="row">
    <div class="col-md-4 offset-md-4" style="text-align: center; margin: auto;">
        <div class="page-load-status">
            <p class="infinite-scroll-request">Loading...</p>
            <button type="button" class="btn btn-light btn-block infinite-scroll-last" onclick="window.scrollTo(0,0);">End of content, go to the Top?</button>
            <p class="infinite-scroll-error">No more pages to load</p>
        </div>                   
    </div>
</div>
{% endif %}


{% endblock %}